@import url(https://fonts.googleapis.com/css?family=Rock+Salt);


body {
  background: url(../images/bg.jpg);
  color: white;
}
h1 {
  font-family: 'Rock Salt', cursive;
  color: white;
}


.user {
  font-size: 32px;
}
