@import url(https://fonts.googleapis.com/css?family=Rock+Salt);


body {
  background: url(../images/bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;

}
h1 {
  font-family: 'Rock Salt', cursive;
  color: white;
}

.title {
  font-weight: bold;
  font-size: 100px;
  color: #ffffff;
  text-shadow: 5px 9px #000000;
  margin-top: 100px;

}

.welcome {
  font-weight: bold;
  font-family: 'Rock Salt', cursive;
  font-size: 50px;
  text-shadow: 5px 5px #000000;
}

.table {
  background-color: rgba(51, 51, 51, 0.5);
}

.user {
  font-size: 32px;
}
