<h1>My Favorites</h1>

<table class="table table-bordered animated fadeIn">
  <thead>
    <th>Name</th>
    <th>Info</th>
    <th>Unfavorite?</th>
  </thead>
  <tbody>
    <tr ng-repeat='favorite in favorites track by $index'>
      <td>{{favorite.name}}</td>
      <td>
        <button class="btn btn-primary btn-sm" ng-click='info(favorite.id)'>Info</button>
      </td>
      <td>
        <button class="btn btn-danger btn-sm" ng-click='unfavorite(favorite._id, $index)'>
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
